USE [master]
GO
/****** Object:  Database [THU_CUNG]    Script Date: 17/06/2026 14:18:56 ******/
CREATE DATABASE [THU_CUNG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'THU_CUNG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\THU_CUNG.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'THU_CUNG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\THU_CUNG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THU_CUNG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THU_CUNG]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnhThuCung]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhThuCung](
	[MaAnh] [int] IDENTITY(1,1) NOT NULL,
	[MaThuCung] [int] NOT NULL,
	[DuongDanAnh] [nvarchar](255) NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
	[NgayTaiLen] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AnhThuCung] PRIMARY KEY CLUSTERED 
(
	[MaAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[MaBaiViet] [int] IDENTITY(1,1) NOT NULL,
	[MaTacGia] [int] NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[DuongDanAnhDaiDien] [nvarchar](255) NULL,
	[LaCauChuyenThanhCong] [bit] NOT NULL,
	[MaThuCung] [int] NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BaiViet] PRIMARY KEY CLUSTERED 
(
	[MaBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoCuuHo]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoCuuHo](
	[MaBaoCao] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiBaoCao] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[DiaDiem] [nvarchar](255) NOT NULL,
	[QuanHuyen] [nvarchar](50) NULL,
	[MoTaChiTiet] [nvarchar](max) NOT NULL,
	[MucDoKhanCap] [nvarchar](20) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayBaoCao] [datetime2](7) NOT NULL,
	[AnhBaoCao] [nvarchar](500) NULL,
 CONSTRAINT [PK_BaoCaoCuuHo] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChienDichQuyenGop]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChienDichQuyenGop](
	[MaChienDich] [int] IDENTITY(1,1) NOT NULL,
	[TenChienDich] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[SoTienMucTieu] [decimal](18, 2) NOT NULL,
	[SoTienDaQuyenGop] [decimal](18, 2) NOT NULL,
	[AnhChienDich] [nvarchar](255) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChienDichQuyenGop] PRIMARY KEY CLUSTERED 
(
	[MaChienDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiPhiCuuHo]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiPhiCuuHo](
	[MaChiPhi] [int] IDENTITY(1,1) NOT NULL,
	[MaThuCung] [int] NOT NULL,
	[NgayChiTieu] [datetime2](7) NOT NULL,
	[LoaiChiPhi] [nvarchar](100) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[MucDichChiTiet] [nvarchar](255) NOT NULL,
	[NguoiXacNhan] [int] NULL,
 CONSTRAINT [PK_ChiPhiCuuHo] PRIMARY KEY CLUSTERED 
(
	[MaChiPhi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongViecTaiTram]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViecTaiTram](
	[MaCongViec] [int] IDENTITY(1,1) NOT NULL,
	[TenCongViec] [nvarchar](100) NOT NULL,
	[ThoiGianBatDau] [time](7) NOT NULL,
	[ThoiGianKetThuc] [time](7) NOT NULL,
	[SoLuongTNVYeuCau] [int] NOT NULL,
	[DaHoanThanh] [bit] NOT NULL,
	[NgayLamViec] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CongViecTaiTram] PRIMARY KEY CLUSTERED 
(
	[MaCongViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemDanhCongViec]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemDanhCongViec](
	[MaChiTietPhanCong] [int] IDENTITY(1,1) NOT NULL,
	[MaCongViec] [int] NOT NULL,
	[MaTinhNguyenVien] [int] NOT NULL,
	[CoMat] [bit] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DiemDanhCongViec] PRIMARY KEY CLUSTERED 
(
	[MaChiTietPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDangKyTinhNguyen]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDangKyTinhNguyen](
	[MaDonDangKy] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
	[NamSinh] [int] NOT NULL,
	[NgheNghiep] [nvarchar](100) NULL,
	[KyNang] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DonDangKyTinhNguyen] PRIMARY KEY CLUSTERED 
(
	[MaDonDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonNhanNuoi]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonNhanNuoi](
	[MaDonNhanNuoi] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[MaThuCung] [int] NOT NULL,
	[TrangThaiDon] [nvarchar](50) NOT NULL,
	[NgayHenPhongVan] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DonNhanNuoi] PRIMARY KEY CLUSTERED 
(
	[MaDonNhanNuoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhaoSatDieuKienSong]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhaoSatDieuKienSong](
	[MaKhaoSat] [int] IDENTITY(1,1) NOT NULL,
	[MaDonNhanNuoi] [int] NOT NULL,
	[KinhNghiemNuoi] [nvarchar](50) NOT NULL,
	[ThoiGianRanhMoiNgay] [nvarchar](50) NOT NULL,
	[SuDongYCoGiaDinh] [nvarchar](50) NOT NULL,
	[LoaiNhaO] [nvarchar](100) NOT NULL,
	[CoSanVuon] [bit] NOT NULL,
	[CoLuoiBanCong] [bit] NOT NULL,
	[CoHangRaoCao] [bit] NOT NULL,
 CONSTRAINT [PK_KhaoSatDieuKienSong] PRIMARY KEY CLUSTERED 
(
	[MaKhaoSat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuSucKhoe]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuSucKhoe](
	[MaLichSuSK] [int] IDENTITY(1,1) NOT NULL,
	[MaThuCung] [int] NOT NULL,
	[NgayKham] [datetime2](7) NOT NULL,
	[LoaiHinh] [nvarchar](50) NOT NULL,
	[ChuanDoan] [nvarchar](255) NOT NULL,
	[GhiChuBenhAn] [nvarchar](max) NULL,
	[BacSiThuY] [nvarchar](100) NULL,
 CONSTRAINT [PK_LichSuSucKhoe] PRIMARY KEY CLUSTERED 
(
	[MaLichSuSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTrangThai]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTrangThai](
	[MaLichSuTT] [int] IDENTITY(1,1) NOT NULL,
	[MaThuCung] [int] NOT NULL,
	[TrangThaiCuuHoTruoc] [nvarchar](50) NULL,
	[TrangThaiCuuHoSau] [nvarchar](50) NOT NULL,
	[TrangThaiNhanNuoiTruoc] [nvarchar](50) NULL,
	[TrangThaiNhanNuoiSau] [nvarchar](50) NOT NULL,
	[NgayCapNhat] [datetime2](7) NOT NULL,
	[GhiChuThayDoi] [nvarchar](255) NULL,
	[NguoiThucHien] [int] NULL,
 CONSTRAINT [PK_LichSuTrangThai] PRIMARY KEY CLUSTERED 
(
	[MaLichSuTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Newsletter]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Newsletter](
	[Email] [nvarchar](100) NOT NULL,
	[NgayDangKy] [datetime2](7) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Newsletter] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatKhauMaHoa] [nvarchar](255) NOT NULL,
	[NamSinh] [int] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DiemTichLuy] [int] NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
	[MaVaiTro] [int] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyHeThong]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyHeThong](
	[MaNhatKy] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[MoTaHoatDong] [nvarchar](max) NOT NULL,
	[DiaChiIP] [nvarchar](50) NULL,
	[NgayGhiNhan] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NhatKyHeThong] PRIMARY KEY CLUSTERED 
(
	[MaNhatKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCongCuuHo]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongCuuHo](
	[MaPhanCong] [int] IDENTITY(1,1) NOT NULL,
	[MaBaoCao] [int] NOT NULL,
	[MaTinhNguyenVien] [int] NOT NULL,
	[NgayPhanCong] [datetime2](7) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_PhanCongCuuHo] PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyenGop]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyenGop](
	[MaQuyenGop] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[TenNguoiQuyenGop] [nvarchar](100) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[TenQuyQuyenGop] [nvarchar](100) NOT NULL,
	[LoiNhan] [nvarchar](255) NULL,
	[NgayQuyenGop] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_QuyenGop] PRIMARY KEY CLUSTERED 
(
	[MaQuyenGop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuCung]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuCung](
	[MaThuCung] [int] IDENTITY(1,1) NOT NULL,
	[TenThuCung] [nvarchar](100) NOT NULL,
	[LoaiNguonGoc] [nvarchar](50) NOT NULL,
	[GiongThuCung] [nvarchar](100) NULL,
	[GiaTriTuoi] [decimal](3, 1) NULL,
	[DonViTuoi] [nvarchar](10) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[MoTa] [nvarchar](max) NULL,
	[AnhChinh] [nvarchar](255) NULL,
	[TinhTrangSucKhoe] [nvarchar](100) NULL,
	[TrangThaiCuuHo] [nvarchar](50) NOT NULL,
	[TrangThaiNhanNuoi] [nvarchar](50) NOT NULL,
	[NgayCuuHo] [datetime2](7) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[DacDiem] [nvarchar](255) NULL,
	[SoThich] [nvarchar](255) NULL,
	[TiemNgua] [nvarchar](100) NULL,
 CONSTRAINT [PK_ThuCung] PRIMARY KEY CLUSTERED 
(
	[MaThuCung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuCungYeuThich]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuCungYeuThich](
	[MaYeuThich] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[MaThuCung] [int] NOT NULL,
	[NgayLuu] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ThuCungYeuThich] PRIMARY KEY CLUSTERED 
(
	[MaYeuThich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhNguyenVien]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhNguyenVien](
	[MaTinhNguyenVien] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[KyNangHienTai] [nvarchar](100) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[TyLeChuyenCan] [int] NOT NULL,
 CONSTRAINT [PK_TinhNguyenVien] PRIMARY KEY CLUSTERED 
(
	[MaTinhNguyenVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 17/06/2026 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260609113312_InitialCreate', N'10.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260614164614_UpdateModels', N'10.0.8')
GO
SET IDENTITY_INSERT [dbo].[BaiViet] ON 

SET IDENTITY_INSERT [dbo].[BaiViet] OFF
GO
SET IDENTITY_INSERT [dbo].[BaoCaoCuuHo] ON 

INSERT [dbo].[BaoCaoCuuHo] ([MaBaoCao], [TenNguoiBaoCao], [SoDienThoai], [DiaDiem], [QuanHuyen], [MoTaChiTiet], [MucDoKhanCap], [TrangThai], [NgayBaoCao], [AnhBaoCao]) VALUES (1, N'Người dùng ẩn danh', N'', N'Phường Tân Sơn Hòa, Thủ Đức, Ho Chi Minh City, 72215, Vietnam', N'Phường Tân Sơn Hòa', N'Loài vật: Khác
Tình trạng: Ốm yếu
Ghi chú: sss
[Có đính kèm 1 hình ảnh hiện trường]', N'Bình thường', N'Đã hoàn thành', CAST(N'2026-06-16T00:21:32.7317757' AS DateTime2), N'/uploads/0dda74c5-a153-42f2-b5cc-f0d4ac024f1e_hinh-anh-5-chu-meo.png')
INSERT [dbo].[BaoCaoCuuHo] ([MaBaoCao], [TenNguoiBaoCao], [SoDienThoai], [DiaDiem], [QuanHuyen], [MoTaChiTiet], [MucDoKhanCap], [TrangThai], [NgayBaoCao], [AnhBaoCao]) VALUES (2, N'Người dùng ẩn danh', N'', N'Saigon Notary Office, 136, Nguyen Thai Binh Street, Khu phố 15, Ben Thanh, Thủ Đức, Ho Chi Minh City, 71010, Vietnam', N'Ben Thanh', N'Loài vật: Chó
Tình trạng: Bị thương
Ghi chú: rrrr
[Có đính kèm 1 hình ảnh hiện trường]', N'Khẩn cấp', N'Chờ xử lý', CAST(N'2026-06-16T22:39:31.3376353' AS DateTime2), N'/uploads/46a170a1-68c6-477c-a132-41ac24a5f39f_duc.png')
SET IDENTITY_INSERT [dbo].[BaoCaoCuuHo] OFF
GO
SET IDENTITY_INSERT [dbo].[ChienDichQuyenGop] ON 

INSERT [dbo].[ChienDichQuyenGop] ([MaChienDich], [TenChienDich], [MoTa], [SoTienMucTieu], [SoTienDaQuyenGop], [AnhChienDich], [NgayTao]) VALUES (1, N'Quỹ mua thức ăn', N'Mua thức ăn cho các bạn nhỏ ', CAST(50000000.00 AS Decimal(18, 2)), CAST(50000000.00 AS Decimal(18, 2)), N'/uploads/97d9cc93-4323-499f-b2ee-6bfcef9ade20_husky.png', CAST(N'2026-06-16T23:07:41.9668103' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ChienDichQuyenGop] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiPhiCuuHo] ON 

INSERT [dbo].[ChiPhiCuuHo] ([MaChiPhi], [MaThuCung], [NgayChiTieu], [LoaiChiPhi], [SoTien], [MucDichChiTiet], [NguoiXacNhan]) VALUES (1, 2, CAST(N'2026-06-16T00:00:00.0000000' AS DateTime2), N'Thức ăn', CAST(20000.00 AS Decimal(18, 2)), N'ăm uống', 1)
SET IDENTITY_INSERT [dbo].[ChiPhiCuuHo] OFF
GO
SET IDENTITY_INSERT [dbo].[CongViecTaiTram] ON 

INSERT [dbo].[CongViecTaiTram] ([MaCongViec], [TenCongViec], [ThoiGianBatDau], [ThoiGianKetThuc], [SoLuongTNVYeuCau], [DaHoanThanh], [NgayLamViec]) VALUES (1, N'Dọn cứt chó', CAST(N'20:00:00' AS Time), CAST(N'21:00:00' AS Time), 1, 1, CAST(N'2026-06-15T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CongViecTaiTram] OFF
GO
SET IDENTITY_INSERT [dbo].[DiemDanhCongViec] ON 

INSERT [dbo].[DiemDanhCongViec] ([MaChiTietPhanCong], [MaCongViec], [MaTinhNguyenVien], [CoMat], [TrangThai]) VALUES (1, 1, 1, 1, N'Hoàn thành')
SET IDENTITY_INSERT [dbo].[DiemDanhCongViec] OFF
GO
SET IDENTITY_INSERT [dbo].[DonDangKyTinhNguyen] ON 

INSERT [dbo].[DonDangKyTinhNguyen] ([MaDonDangKy], [HoTen], [Email], [SoDienThoai], [NamSinh], [NgheNghiep], [KyNang], [TrangThai], [NgayTao]) VALUES (1, N'LE HOANG HAI', N'hai@gmail.com', N'0204066699', 2000, N'Tự do', N'Thời gian rảnh: Cuối tuần (T7 & CN). Kỹ năng: dđ', N'Đã duyệt', CAST(N'2026-06-16T00:22:29.9368949' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DonDangKyTinhNguyen] OFF
GO
SET IDENTITY_INSERT [dbo].[DonNhanNuoi] ON 

INSERT [dbo].[DonNhanNuoi] ([MaDonNhanNuoi], [MaNguoiDung], [MaThuCung], [TrangThaiDon], [NgayHenPhongVan], [NgayCapNhat], [NgayTao]) VALUES (1, 3, 1, N'Hoàn tất', CAST(N'2026-11-01T15:00:00.0000000' AS DateTime2), CAST(N'2026-06-16T22:44:19.1135091' AS DateTime2), CAST(N'2026-06-16T22:41:59.9711937' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DonNhanNuoi] OFF
GO
SET IDENTITY_INSERT [dbo].[KhaoSatDieuKienSong] ON 

INSERT [dbo].[KhaoSatDieuKienSong] ([MaKhaoSat], [MaDonNhanNuoi], [KinhNghiemNuoi], [ThoiGianRanhMoiNgay], [SuDongYCoGiaDinh], [LoaiNhaO], [CoSanVuon], [CoLuoiBanCong], [CoHangRaoCao]) VALUES (1, 1, N'Chưa bao giờ nuôi', N'2-5 tiếng', N'Đồng ý', N'Chung cư', 0, 1, 1)
SET IDENTITY_INSERT [dbo].[KhaoSatDieuKienSong] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuTrangThai] ON 

INSERT [dbo].[LichSuTrangThai] ([MaLichSuTT], [MaThuCung], [TrangThaiCuuHoTruoc], [TrangThaiCuuHoSau], [TrangThaiNhanNuoiTruoc], [TrangThaiNhanNuoiSau], [NgayCapNhat], [GhiChuThayDoi], [NguoiThucHien]) VALUES (1, 1, NULL, N'ĐANG CHỜ', NULL, N'Chưa nhận nuôi', CAST(N'2026-06-16T00:27:21.4811622' AS DateTime2), N'Tạo hồ sơ thú cưng', 1)
INSERT [dbo].[LichSuTrangThai] ([MaLichSuTT], [MaThuCung], [TrangThaiCuuHoTruoc], [TrangThaiCuuHoSau], [TrangThaiNhanNuoiTruoc], [TrangThaiNhanNuoiSau], [NgayCapNhat], [GhiChuThayDoi], [NguoiThucHien]) VALUES (2, 1, N'ĐANG CHỜ', N'ĐANG CHỜ', N'Chưa nhận nuôi', N'Đang xử lý', CAST(N'2026-06-16T22:42:00.1400585' AS DateTime2), N'Gửi đơn nhận nuôi (Đơn ID: 1)', 3)
INSERT [dbo].[LichSuTrangThai] ([MaLichSuTT], [MaThuCung], [TrangThaiCuuHoTruoc], [TrangThaiCuuHoSau], [TrangThaiNhanNuoiTruoc], [TrangThaiNhanNuoiSau], [NgayCapNhat], [GhiChuThayDoi], [NguoiThucHien]) VALUES (3, 2, NULL, N'ĐANG CHỜ', NULL, N'Chưa nhận nuôi', CAST(N'2026-06-16T22:42:53.9160191' AS DateTime2), N'Tạo hồ sơ thú cưng', 1)
SET IDENTITY_INSERT [dbo].[LichSuTrangThai] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [SoDienThoai], [Email], [MatKhauMaHoa], [NamSinh], [DiaChi], [DiemTichLuy], [TenHang], [MaVaiTro], [NgayTao]) VALUES (1, N'Quản trị viên Hệ thống', N'0123456789', N'admin@pawsitive.vn', N'AQAAAAIAAYagAAAAEPlUFS7YO1tlO5fWpskkzDz9MOj77dr/COPz8DWtUvQuo5egFRbLaZjq2HMIL4tjDg==', 1990, N'Trạm Cứu Hộ Pawsitive, Hà Nội', 5999, N'Thành viên Kim Cương', 1, CAST(N'2026-06-16T00:04:10.0420010' AS DateTime2))
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [SoDienThoai], [Email], [MatKhauMaHoa], [NamSinh], [DiaChi], [DiemTichLuy], [TenHang], [MaVaiTro], [NgayTao]) VALUES (2, N'LE HOANG HAI', N'0204066699', N'hai@gmail.com', N'AQAAAAIAAYagAAAAEBq0AHLzXoKlntsgO/7lYJHCt+825p2GJAxdlcaj3rDXUZSO5lzVKeHqYPkwi+ShtQ==', 2000, N'', 1000, N'Thành viên Kim Cương', 2, CAST(N'2026-06-16T00:13:25.8266464' AS DateTime2))
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [SoDienThoai], [Email], [MatKhauMaHoa], [NamSinh], [DiaChi], [DiemTichLuy], [TenHang], [MaVaiTro], [NgayTao]) VALUES (3, N'Hiển Từ', N'0123456789', N'tuminhhien324@gmail.com', N'AQAAAAIAAYagAAAAEHVRZZiiQ1jBXEvEpGCdRRAQ7kSvvCZ4IgH0OxQdFOx17IBCOM/Tf43cj9CCqOidlw==', NULL, N'', 5120, N'Thành viên Kim Cương', 3, CAST(N'2026-06-16T22:39:00.3686312' AS DateTime2))
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NhatKyHeThong] ON 

INSERT [dbo].[NhatKyHeThong] ([MaNhatKy], [MaNguoiDung], [MoTaHoatDong], [DiaChiIP], [NgayGhiNhan]) VALUES (1, 1, N'Đăng nhập hệ thống', N'::1', CAST(N'2026-06-16T00:04:31.3868524' AS DateTime2))
INSERT [dbo].[NhatKyHeThong] ([MaNhatKy], [MaNguoiDung], [MoTaHoatDong], [DiaChiIP], [NgayGhiNhan]) VALUES (2, 1, N'Đăng nhập hệ thống', N'::1', CAST(N'2026-06-16T00:09:11.7420530' AS DateTime2))
INSERT [dbo].[NhatKyHeThong] ([MaNhatKy], [MaNguoiDung], [MoTaHoatDong], [DiaChiIP], [NgayGhiNhan]) VALUES (3, 1, N'Đồng bộ bài viết từ mạng: Thêm thành công 10 bài viết mới.', N'::1', CAST(N'2026-06-16T00:09:35.6329582' AS DateTime2))
SET IDENTITY_INSERT [dbo].[NhatKyHeThong] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanCongCuuHo] ON 

INSERT [dbo].[PhanCongCuuHo] ([MaPhanCong], [MaBaoCao], [MaTinhNguyenVien], [NgayPhanCong], [GhiChu]) VALUES (1, 1, 1, CAST(N'2026-06-16T00:25:33.5128006' AS DateTime2), N'đem theo lồng')
INSERT [dbo].[PhanCongCuuHo] ([MaPhanCong], [MaBaoCao], [MaTinhNguyenVien], [NgayPhanCong], [GhiChu]) VALUES (2, 3, 1, CAST(N'2026-06-16T22:40:42.9070735' AS DateTime2), N'kkkk')
SET IDENTITY_INSERT [dbo].[PhanCongCuuHo] OFF
GO
SET IDENTITY_INSERT [dbo].[QuyenGop] ON 

INSERT [dbo].[QuyenGop] ([MaQuyenGop], [MaNguoiDung], [TenNguoiQuyenGop], [SoTien], [TenQuyQuyenGop], [LoiNhan], [NgayQuyenGop]) VALUES (1, 1, N'Quản trị viên Hệ thống', CAST(50000000.00 AS Decimal(18, 2)), N'Quỹ y tế khẩn cấp', N'rrr', CAST(N'2026-06-16T00:28:10.0016152' AS DateTime2))
INSERT [dbo].[QuyenGop] ([MaQuyenGop], [MaNguoiDung], [TenNguoiQuyenGop], [SoTien], [TenQuyQuyenGop], [LoiNhan], [NgayQuyenGop]) VALUES (2, 2, N'LE HOANG HAI', CAST(10000000.00 AS Decimal(18, 2)), N'Mái ấm mùa đông', N'rrr', CAST(N'2026-06-16T00:28:38.4896358' AS DateTime2))
INSERT [dbo].[QuyenGop] ([MaQuyenGop], [MaNguoiDung], [TenNguoiQuyenGop], [SoTien], [TenQuyQuyenGop], [LoiNhan], [NgayQuyenGop]) VALUES (3, 3, N'Hiển Từ', CAST(200000.00 AS Decimal(18, 2)), N'Mái ấm mùa đông', N'zzz', CAST(N'2026-06-16T22:47:02.2440366' AS DateTime2))
SET IDENTITY_INSERT [dbo].[QuyenGop] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuCung] ON 

SET IDENTITY_INSERT [dbo].[ThuCung] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuCungYeuThich] ON 

INSERT [dbo].[ThuCungYeuThich] ([MaYeuThich], [MaNguoiDung], [MaThuCung], [NgayLuu]) VALUES (1, 1, 1, CAST(N'2026-06-16T00:27:41.8246289' AS DateTime2))
INSERT [dbo].[ThuCungYeuThich] ([MaYeuThich], [MaNguoiDung], [MaThuCung], [NgayLuu]) VALUES (2, 2, 1, CAST(N'2026-06-16T00:28:52.1114991' AS DateTime2))
INSERT [dbo].[ThuCungYeuThich] ([MaYeuThich], [MaNguoiDung], [MaThuCung], [NgayLuu]) VALUES (3, 3, 1, CAST(N'2026-06-16T22:41:09.8790739' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ThuCungYeuThich] OFF
GO
SET IDENTITY_INSERT [dbo].[TinhNguyenVien] ON 

INSERT [dbo].[TinhNguyenVien] ([MaTinhNguyenVien], [MaNguoiDung], [KyNangHienTai], [TrangThai], [TyLeChuyenCan]) VALUES (1, 2, N'Thời gian rảnh: Cuối tuần (T7 & CN). Kỹ năng: dđ', N'Đang hoạt động', 100)
SET IDENTITY_INSERT [dbo].[TinhNguyenVien] OFF
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (1, N'Quản trị viên')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (2, N'Tình nguyện viên')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (3, N'Người dùng phổ thông')
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO
/****** Object:  Index [IX_AnhThuCung_MaThuCung]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_AnhThuCung_MaThuCung] ON [dbo].[AnhThuCung]
(
	[MaThuCung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BaiViet_MaTacGia]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_BaiViet_MaTacGia] ON [dbo].[BaiViet]
(
	[MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BaiViet_MaThuCung]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_BaiViet_MaThuCung] ON [dbo].[BaiViet]
(
	[MaThuCung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiPhiCuuHo_MaThuCung]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_ChiPhiCuuHo_MaThuCung] ON [dbo].[ChiPhiCuuHo]
(
	[MaThuCung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiPhiCuuHo_NguoiXacNhan]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_ChiPhiCuuHo_NguoiXacNhan] ON [dbo].[ChiPhiCuuHo]
(
	[NguoiXacNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiemDanhCongViec_MaCongViec_MaTinhNguyenVien]    Script Date: 17/06/2026 14:18:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DiemDanhCongViec_MaCongViec_MaTinhNguyenVien] ON [dbo].[DiemDanhCongViec]
(
	[MaCongViec] ASC,
	[MaTinhNguyenVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiemDanhCongViec_MaTinhNguyenVien]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_DiemDanhCongViec_MaTinhNguyenVien] ON [dbo].[DiemDanhCongViec]
(
	[MaTinhNguyenVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonNhanNuoi_MaNguoiDung]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_DonNhanNuoi_MaNguoiDung] ON [dbo].[DonNhanNuoi]
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonNhanNuoi_MaThuCung]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_DonNhanNuoi_MaThuCung] ON [dbo].[DonNhanNuoi]
(
	[MaThuCung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KhaoSatDieuKienSong_MaDonNhanNuoi]    Script Date: 17/06/2026 14:18:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_KhaoSatDieuKienSong_MaDonNhanNuoi] ON [dbo].[KhaoSatDieuKienSong]
(
	[MaDonNhanNuoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuSucKhoe_MaThuCung]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_LichSuSucKhoe_MaThuCung] ON [dbo].[LichSuSucKhoe]
(
	[MaThuCung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuTrangThai_MaThuCung]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_LichSuTrangThai_MaThuCung] ON [dbo].[LichSuTrangThai]
(
	[MaThuCung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuTrangThai_NguoiThucHien]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_LichSuTrangThai_NguoiThucHien] ON [dbo].[LichSuTrangThai]
(
	[NguoiThucHien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NguoiDung_MaVaiTro]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_NguoiDung_MaVaiTro] ON [dbo].[NguoiDung]
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhatKyHeThong_MaNguoiDung]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_NhatKyHeThong_MaNguoiDung] ON [dbo].[NhatKyHeThong]
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhanCongCuuHo_MaBaoCao_MaTinhNguyenVien]    Script Date: 17/06/2026 14:18:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PhanCongCuuHo_MaBaoCao_MaTinhNguyenVien] ON [dbo].[PhanCongCuuHo]
(
	[MaBaoCao] ASC,
	[MaTinhNguyenVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhanCongCuuHo_MaTinhNguyenVien]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_PhanCongCuuHo_MaTinhNguyenVien] ON [dbo].[PhanCongCuuHo]
(
	[MaTinhNguyenVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuyenGop_MaNguoiDung]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_QuyenGop_MaNguoiDung] ON [dbo].[QuyenGop]
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThuCungYeuThich_MaNguoiDung_MaThuCung]    Script Date: 17/06/2026 14:18:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ThuCungYeuThich_MaNguoiDung_MaThuCung] ON [dbo].[ThuCungYeuThich]
(
	[MaNguoiDung] ASC,
	[MaThuCung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThuCungYeuThich_MaThuCung]    Script Date: 17/06/2026 14:18:56 ******/
CREATE NONCLUSTERED INDEX [IX_ThuCungYeuThich_MaThuCung] ON [dbo].[ThuCungYeuThich]
(
	[MaThuCung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TinhNguyenVien_MaNguoiDung]    Script Date: 17/06/2026 14:18:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TinhNguyenVien_MaNguoiDung] ON [dbo].[TinhNguyenVien]
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiemDanhCongViec] ADD  DEFAULT (N'') FOR [TrangThai]
GO
ALTER TABLE [dbo].[AnhThuCung]  WITH CHECK ADD  CONSTRAINT [FK_AnhThuCung_ThuCung_MaThuCung] FOREIGN KEY([MaThuCung])
REFERENCES [dbo].[ThuCung] ([MaThuCung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnhThuCung] CHECK CONSTRAINT [FK_AnhThuCung_ThuCung_MaThuCung]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [FK_BaiViet_NguoiDung_MaTacGia] FOREIGN KEY([MaTacGia])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [FK_BaiViet_NguoiDung_MaTacGia]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [FK_BaiViet_ThuCung_MaThuCung] FOREIGN KEY([MaThuCung])
REFERENCES [dbo].[ThuCung] ([MaThuCung])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [FK_BaiViet_ThuCung_MaThuCung]
GO
ALTER TABLE [dbo].[ChiPhiCuuHo]  WITH CHECK ADD  CONSTRAINT [FK_ChiPhiCuuHo_NguoiDung_NguoiXacNhan] FOREIGN KEY([NguoiXacNhan])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ChiPhiCuuHo] CHECK CONSTRAINT [FK_ChiPhiCuuHo_NguoiDung_NguoiXacNhan]
GO
ALTER TABLE [dbo].[ChiPhiCuuHo]  WITH CHECK ADD  CONSTRAINT [FK_ChiPhiCuuHo_ThuCung_MaThuCung] FOREIGN KEY([MaThuCung])
REFERENCES [dbo].[ThuCung] ([MaThuCung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiPhiCuuHo] CHECK CONSTRAINT [FK_ChiPhiCuuHo_ThuCung_MaThuCung]
GO
ALTER TABLE [dbo].[DiemDanhCongViec]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanhCongViec_CongViecTaiTram_MaCongViec] FOREIGN KEY([MaCongViec])
REFERENCES [dbo].[CongViecTaiTram] ([MaCongViec])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemDanhCongViec] CHECK CONSTRAINT [FK_DiemDanhCongViec_CongViecTaiTram_MaCongViec]
GO
ALTER TABLE [dbo].[DiemDanhCongViec]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanhCongViec_TinhNguyenVien_MaTinhNguyenVien] FOREIGN KEY([MaTinhNguyenVien])
REFERENCES [dbo].[TinhNguyenVien] ([MaTinhNguyenVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemDanhCongViec] CHECK CONSTRAINT [FK_DiemDanhCongViec_TinhNguyenVien_MaTinhNguyenVien]
GO
ALTER TABLE [dbo].[DonNhanNuoi]  WITH CHECK ADD  CONSTRAINT [FK_DonNhanNuoi_NguoiDung_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DonNhanNuoi] CHECK CONSTRAINT [FK_DonNhanNuoi_NguoiDung_MaNguoiDung]
GO
ALTER TABLE [dbo].[DonNhanNuoi]  WITH CHECK ADD  CONSTRAINT [FK_DonNhanNuoi_ThuCung_MaThuCung] FOREIGN KEY([MaThuCung])
REFERENCES [dbo].[ThuCung] ([MaThuCung])
GO
ALTER TABLE [dbo].[DonNhanNuoi] CHECK CONSTRAINT [FK_DonNhanNuoi_ThuCung_MaThuCung]
GO
ALTER TABLE [dbo].[KhaoSatDieuKienSong]  WITH CHECK ADD  CONSTRAINT [FK_KhaoSatDieuKienSong_DonNhanNuoi_MaDonNhanNuoi] FOREIGN KEY([MaDonNhanNuoi])
REFERENCES [dbo].[DonNhanNuoi] ([MaDonNhanNuoi])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhaoSatDieuKienSong] CHECK CONSTRAINT [FK_KhaoSatDieuKienSong_DonNhanNuoi_MaDonNhanNuoi]
GO
ALTER TABLE [dbo].[LichSuSucKhoe]  WITH CHECK ADD  CONSTRAINT [FK_LichSuSucKhoe_ThuCung_MaThuCung] FOREIGN KEY([MaThuCung])
REFERENCES [dbo].[ThuCung] ([MaThuCung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuSucKhoe] CHECK CONSTRAINT [FK_LichSuSucKhoe_ThuCung_MaThuCung]
GO
ALTER TABLE [dbo].[LichSuTrangThai]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTrangThai_NguoiDung_NguoiThucHien] FOREIGN KEY([NguoiThucHien])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LichSuTrangThai] CHECK CONSTRAINT [FK_LichSuTrangThai_NguoiDung_NguoiThucHien]
GO
ALTER TABLE [dbo].[LichSuTrangThai]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTrangThai_ThuCung_MaThuCung] FOREIGN KEY([MaThuCung])
REFERENCES [dbo].[ThuCung] ([MaThuCung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuTrangThai] CHECK CONSTRAINT [FK_LichSuTrangThai_ThuCung_MaThuCung]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_VaiTro_MaVaiTro] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_VaiTro_MaVaiTro]
GO
ALTER TABLE [dbo].[NhatKyHeThong]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyHeThong_NguoiDung_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NhatKyHeThong] CHECK CONSTRAINT [FK_NhatKyHeThong_NguoiDung_MaNguoiDung]
GO
ALTER TABLE [dbo].[PhanCongCuuHo]  WITH CHECK ADD  CONSTRAINT [FK_PhanCongCuuHo_BaoCaoCuuHo_MaBaoCao] FOREIGN KEY([MaBaoCao])
REFERENCES [dbo].[BaoCaoCuuHo] ([MaBaoCao])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanCongCuuHo] CHECK CONSTRAINT [FK_PhanCongCuuHo_BaoCaoCuuHo_MaBaoCao]
GO
ALTER TABLE [dbo].[PhanCongCuuHo]  WITH CHECK ADD  CONSTRAINT [FK_PhanCongCuuHo_TinhNguyenVien_MaTinhNguyenVien] FOREIGN KEY([MaTinhNguyenVien])
REFERENCES [dbo].[TinhNguyenVien] ([MaTinhNguyenVien])
GO
ALTER TABLE [dbo].[PhanCongCuuHo] CHECK CONSTRAINT [FK_PhanCongCuuHo_TinhNguyenVien_MaTinhNguyenVien]
GO
ALTER TABLE [dbo].[QuyenGop]  WITH CHECK ADD  CONSTRAINT [FK_QuyenGop_NguoiDung_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[QuyenGop] CHECK CONSTRAINT [FK_QuyenGop_NguoiDung_MaNguoiDung]
GO
ALTER TABLE [dbo].[ThuCungYeuThich]  WITH CHECK ADD  CONSTRAINT [FK_ThuCungYeuThich_NguoiDung_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThuCungYeuThich] CHECK CONSTRAINT [FK_ThuCungYeuThich_NguoiDung_MaNguoiDung]
GO
ALTER TABLE [dbo].[ThuCungYeuThich]  WITH CHECK ADD  CONSTRAINT [FK_ThuCungYeuThich_ThuCung_MaThuCung] FOREIGN KEY([MaThuCung])
REFERENCES [dbo].[ThuCung] ([MaThuCung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThuCungYeuThich] CHECK CONSTRAINT [FK_ThuCungYeuThich_ThuCung_MaThuCung]
GO
ALTER TABLE [dbo].[TinhNguyenVien]  WITH CHECK ADD  CONSTRAINT [FK_TinhNguyenVien_NguoiDung_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TinhNguyenVien] CHECK CONSTRAINT [FK_TinhNguyenVien_NguoiDung_MaNguoiDung]
GO
USE [master]
GO
